# OS files
.DS_Store

#Python
_pycache_/
.venv/
venv/
read_downloads_save_dataset.py
wrangle_nc_files.py 
tmp_wrangle_ssrd_monthly.py
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Data, Results and Figures
Data/
Figures/
Results/
logs/

